body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* background-color: #213040; */
  /* background-color: #1f2227; */
  background-color: #1a1d21;
  color: #fbfbfb;
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, roboto, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

#root-layout {
  position: relative;
  display: grid;
  grid-template-columns: 210px 60% 1fr;
  grid-template-areas: "sidebar content-wrapper console-wrapper";
}

#content-wrapper {
  grid-area: content-wrapper;
}

#content {
  width: 100%;
  height: calc(100vh - 60px);
}

#editor-wrapper {
  grid-area: editor-wrapper;
  height: 100%;
  width: 100%;
}

.monaco-editor,
.overflow-guard {
  width: 100% !important;
}

#editor {
  height: 100%;
  width: 100%;
}

/* User colors */
.user-color-red {
  background: red !important;
}

.user-color-blue {
  background: blue !important;
}

.user-color-green {
  background: green !important;
}

.user-color-orange {
  background: orange !important;
}

.user-color-purple {
  background: purple !important;
}

.user-color-pink {
  background: pink !important;
}

/* Modal */
.modal {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: fixed;
  background: white;
  width: 260px;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
}

.modal-section {
  padding-top: 24px;
  padding-left: 32px;
  padding-right: 32px;
}

#modal-title {
  color: black;
  display: flex;
  align-items: center;
}

#modal-title-h3 {
  font-size: 20px !important;
}

#modal-input {
  display: flex;
  align-items: center;
}

#modal-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.modal-input {
  height: 30px;
  font-size: 18px;
}
