#sidebar {
  grid-area: sidebar;
  border-right: 1px solid #2c2f34;
}

#sidebar-settings-title-wrapper {
  display: flex;
  height: 30px;
}

#sidebar-settings-title {
  display: inline-flex;
  align-items: center;
  margin-left: 10px;
}

#sidebar-user-list-title-wrapper {
  display: flex;
  height: 40px;
}

#sidebar-user-list-title {
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  margin-left: 10px;
}

#sidebar-item {
  margin: 0;
  padding: 0;
}

#sidebar-item-text {
  height: 36px;
  line-height: 36px;
  padding: 0 10px;
  font-size: 14px;
  font-weight: normal;
  position: relative;
  text-decoration: none;
  transition: all 0.15s;
}

.badge {
  display: inline-block;
  padding: 0 3px;
  height: 13px;
  border-radius: 2px;
  line-height: 13px;
  font-size: 9px;
  font-weight: bold;
  overflow: hidden;
  position: relative;
  bottom: -2px;
  left: 3px;
  text-transform: uppercase;
}

.master {
  background: #f3ca63;
  color: #1a1d21;
}

.assign-master {
  background: #aca79c;
  color: #1a1d21;
  cursor: pointer;
}

/* Settings */
#settings-item-wrapper {
  height: 30px;
  padding: 5px 10px;
  display: flex;
}

#toggle-text {
  align-items: center;
  display: flex;
  font-weight: normal;
  margin-left: 10px;
}

.execute-now-btn {
  width: 60px !important;
  height: 25px !important;
}
