#topbar {
  height: 60px;
  border-bottom: 1px solid #2c2f34;
  display: grid;
  grid-template-columns: 210px 1fr;
  grid-template-areas: "logo-wrapper create-room-wrapper";
}

#logo-wrapper {
  grid-area: logo-wrapper;
  overflow: hidden;
  padding: 10px;
}

#logo-img {
  height: 100%;
  cursor: pointer;
}

/* #logo-img:hover {
  -webkit-filter: brightness(0.6) contrast(3.4) hue-rotate(217deg) saturate(9.9);
  filter: brightness(0.6) contrast(3.4) hue-rotate(217deg) saturate(9.9);
} */

#create-room-wrapper {
  grid-area: create-room-wrapper;
  padding: 5px;
  display: flex;
}

#create-room-form {
  margin: auto 0;
}

#create-room-textfield {
  height: 30px;
  margin-right: 10px;
  border-radius: 4px;
  box-shadow: none;
}

#create-room-btn {
  background: #0077cc;
  color: #fff;
  height: 30px;
  font-weight: normal;
  border-color: #0077cc !important;
  border-radius: 4px;
  cursor: pointer;
}

#create-room-btn:hover {
  background: #0077cca1;
  border-color: #0077cca1 !important;
}
