#topbar {
  height: 60px;
  border-bottom: 1px solid #2c2f34;
  display: grid;
  grid-template-columns: 200px 100px 1fr 100px;
  grid-template-areas: "logo-wrapper theme-toggler-wrapper create-room-wrapper toggle-live-execution-wrapper";
}

#logo-wrapper {
  grid-area: logo-wrapper;
  overflow: hidden;
  padding: 10px;
}

#logo-img {
  height: 100%;
  cursor: pointer;
}

/* #logo-img:hover {
  -webkit-filter: brightness(0.6) contrast(3.4) hue-rotate(217deg) saturate(9.9);
  filter: brightness(0.6) contrast(3.4) hue-rotate(217deg) saturate(9.9);
} */

#theme-toggler-wrapper {
  grid-area: theme-toggler-wrapper;
  display: flex;
}

.theme-toggler-btn {
  height: 30px;
  margin: auto 0;
}

#create-room-wrapper {
  grid-area: create-room-wrapper;
  padding: 5px;
  display: flex;
}

#create-room-form {
  margin: auto 0;
}

#create-room-textfield {
  height: 30px;
  margin-right: 10px;
}

#create-room-btn {
  background: #70d18c;
  color: #fff;
  height: 30px;
}

#toggle-live-execution {
  grid-area: toggle-live-execution-wrapper;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
