/*  CONSOLE  */
#console-wrapper {
  position: relative;
  grid-area: console-wrapper;
  width: 100%;
  border: 1px white;
  font-family: Menlo, Monaco, source-code-pro, Ubuntu Mono, DejaVu sans mono,
    Consolas, monospace;
}

#console-title {
  text-transform: uppercase;
  display: flex;
  font-size: 12px;
  font-weight: 700;
  padding-left: 10px;
  height: 40px;
  font-family: -apple-system, BlinkMacSystemFont, roboto, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

#console-text {
  display: inline-flex;
  align-items: center;
}

#console-scroll {
  height: calc(100% - 40px);
  overflow: auto;
  width: 100%;
  position: absolute;
}

#console {
  width: 100%;
  font-size: 12px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.console-object-value {
  display: inline-block;
  margin-left: 10px;
}
.log-li {
  border-bottom: 1px solid #2c2f34;
  padding: 7px 12px;
  white-space: pre;
}

/* LOG END */

/* TEXT */

.log-variable {
  color: #cfd0d1;
}

.log-string {
  color: #f5eea2;
}

.log-number {
  color: #ed6e55;
}

.log-boolean {
  color: #7561ff;
}

/* TEXT END */

.user-cursor-top {
  background: red;
  height: 20px !important;
  width: 60px !important;
  z-index: 10 !important;
  bottom: 20px !important;
}

.user-cursor-top:after {
  content: "" !important;
  position: absolute !important;
  left: 0px !important;
  top: 20px !important;
  height: 20px !important;
  bottom: 0px !important;
  width: 2px !important;
  background: red;
}

.cursor-text {
  color: black;
  margin: 0;
  padding: 0;
}

.user-cursor {
  background: red;
  width: 2px !important;
}

/* .user-cursor {
  background: red;
  width: 2px !important;
  height: 40px !important;
  z-index: 10 !important;
  bottom: 0px !important;
}

.user-cursor:after {
  content: "" !important;
  position: absolute !important;
  left: 2px !important;
  height: 20px !important;
  bottom: 20px !important;
  width: 50px !important;
  background: red;
} */

.selectedRange {
  background: #accef7 !important;
  color: black !important;
}
