#sidebar {
  grid-area: sidebar;
  border-right: 1px solid #2c2f34;
}

.sidebar-item {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.sidebar-item-text {
  height: 36px;
  line-height: 36px;
  padding: 0 15px;
  font-size: 14px;
  font-weight: normal;
  position: relative;
  text-decoration: none;
  transition: all 0.15s;
  font-family: monospace;
}

.sidebar-user-list-item-avatar {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 12px;
}

/* .badge {
  display: inline-block;
  padding: 0 3px;
  height: 13px;
  border-radius: 2px;
  line-height: 13px;
  font-size: 9px;
  font-weight: bold;
  overflow: hidden;
  position: relative;
  bottom: -2px;
  left: 3px;
  text-transform: uppercase;
} */

/* Settings */
.settings-item-wrapper {
  height: 35px;
  padding: 5px 20px;
  display: flex;
  align-items: center;
}

.toggle-text {
  align-items: center;
  display: flex;
  font-weight: normal;
  margin-left: 10px;
  font-family: monospace;
  font-size: 16px;
}

.execute-now-btn {
  width: 70px !important;
}

/* ICONS */
.sidebar-icon {
  margin: 0 16px;
  font-weight: normal;
  font-style: normal;
  font-size: 22px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  overflow-wrap: normal;
  white-space: nowrap;
}

/* Sidebar ITEM */

.sidebar-title-wrapper {
  display: flex;
  height: 40px;
  align-items: center;
}

.sidebar-title {
  font-size: 18px;
}
