#topbar {
  height: 60px;
  border-bottom: 1px solid #2c2f34;
  display: grid;
  grid-template-columns: 320px 1fr 1fr;
  grid-template-areas: "logo-wrapper create-room-wrapper topbar-user-list-wrapper";
}

#logo-wrapper {
  grid-area: logo-wrapper;
  overflow: hidden;
  padding: 15px;
  margin-right: 20px;
}

#logo-img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#create-room-wrapper {
  grid-area: create-room-wrapper;
  padding: 5px;
  display: flex;
}

#create-room-form {
  margin: auto 0;
  display: flex;
  align-items: center;
}

#create-room-textfield {
  height: 30px;
  margin-right: 10px;
  border-radius: 4px;
  box-shadow: none;
}

.blue-btn {
  background: #0077cc;
  color: #fff;
  height: 30px;
  font-weight: normal;
  border-color: #0077cc !important;
  border-radius: 4px;
  cursor: pointer;
  font-family: monospace;
  font-size: 14px;
}
/* 
.create-room-btn:hover {
  background: #0077cca1;
  border-color: #0077cca1 !important;
}

#create-room-btn {
  background: #0077cc;
  color: #fff;
  height: 30px;
  font-weight: normal;
  border-color: #0077cc !important;
  border-radius: 4px;
  cursor: pointer;
}

#create-room-btn:hover {
  background: #0077cca1;
  border-color: #0077cca1 !important;
} */

#topbar-user-list-wrapper {
  grid-area: topbar-user-list-wrapper;
}

#topbar-user-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: flex-end;
}

.topbar-user-list-item {
  float: left;
  padding: 10px;
}

.topbar-user-list-item-avatar {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}
